/* ===== GENERAL ===== */

body{
    margin:0;
    background-color:#f3f1ed;
    font-family:"Georgia", serif;
    color:#222;
}


/* ===== HEADER ===== */

header{
    background-color:black;
    color:white;
    text-align:center;
    padding:40px;
}


header h1{

    color:#d4af37;
    font-size:60px;
    letter-spacing:10px;
    margin:0;

}


header p{

    font-size:22px;
    font-style:italic;

}




/* ===== MENU ===== */

nav{

    background-color:#d4af37;
    text-align:center;
    padding:15px;

}



nav a{

    color:black;
    text-decoration:none;
    font-size:20px;
    margin:20px;

}


nav a:hover{

    color:white;

}




/* ===== ACCUEIL ===== */

.accueil{

    width:70%;
    margin:40px auto;
    background-color:white;
    padding:30px;
    text-align:center;
    box-shadow:0px 0px 15px #aaa;

}



h2{

    color:#b8962e;
    text-align:center;
    font-size:35px;

}




/* ===== PERSONNAGES ===== */


.cartes{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}



.personnage{

    background-color:white;

    width:280px;

    margin:20px;

    padding:20px;

    text-align:center;

    box-shadow:0px 0px 15px #bbb;

}



.personnage img{

    width:250px;
    height:300px;
    object-fit:cover;

}



.personnage h3{

    font-size:25px;
    color:black;

}



.personnage p{

    font-size:17px;

}




/* BOUTONS */

.personnage a{

    display:inline-block;

    background-color:black;

    color:#d4af37;

    padding:10px 20px;

    text-decoration:none;

    margin-top:10px;

}



.personnage a:hover{

    background-color:#d4af37;

    color:black;

}




/* ===== BLOG POTINS ===== */


.article{

    background-color:white;

    width:70%;

    margin:30px auto;

    padding:25px;

    box-shadow:0px 0px 15px #bbb;

}



.article img{

    width:200px;

    height:200px;

    object-fit:cover;

    float:left;

    margin-right:20px;

}



.article h3{

    font-size:28px;

    color:#b8962e;

}





/* ===== FOOTER ===== */


footer{

    background-color:black;

    color:white;

    text-align:center;

    padding:25px;

    margin-top:50px;

}




/* ===== FOND IMAGE OPTIONNEL ===== */


/*

Si tu veux mettre une image New York en fond,
enlève les /* au début et */ à la fin


body{

    margin:0;
    background-image:url("images/Gossip girl fond.webp");
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
}

}

*/

   
