/* ===== STYLE GENERAL ===== */

body{
    margin:0;
    background-image:url("images/fond2.jfif");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    font-family:Georgia, serif;
    color:#222;
}



/* ===== HEADER ===== */

header{
    background-color:black;
    color:white;
    text-align:center;
    padding:40px;
}


header h1{
    color:#d4af37;
    font-size:60px;
    letter-spacing:8px;
    margin:0;
}


header p{
    font-size:22px;
    font-style:italic;
}




/* ===== MENU ===== */

nav{
    background-color:#d4af37;
    text-align:center;
    padding:15px;
}


nav a{
    color:black;
    text-decoration:none;
    margin:20px;
    font-size:20px;
}


nav a:hover{
    color:white;
}




/* ===== PRESENTATION ===== */

.accueil{

    background-color:white;
    width:70%;
    margin:40px auto;
    padding:30px;
    text-align:center;
    opacity:0.95;

}


h2{
    color:#d4af37;
    text-align:center;
    font-size:35px;
}




/* ===== CARTES PERSONNAGES ===== */


.cartes{

    display:flex;
    flex-wrap:wrap;
    justify-content:center;

}



.personnage{

    background-color:white;
    width:280px;
    margin:20px;
    padding:20px;
    text-align:center;
    box-shadow:0px 0px 15px black;

}



.personnage img{

    width:250px;
    height:300px;
    object-fit:cover;

}



.personnage h3{

    font-size:25px;
    color:black;

}



.personnage p{

    font-size:17px;

}



/* Boutons */

.personnage a{

    display:inline-block;
    background-color:black;
    color:#d4af37;
    padding:10px 20px;
    text-decoration:none;
    margin-top:10px;

}



.personnage a:hover{

    background-color:#d4af37;
    color:black;

}





/* ===== BLOG POTINS ===== */


.article{

    background-color:white;
    width:70%;
    margin:30px auto;
    padding:25px;
    box-shadow:0px 0px 15px black;
    overflow:auto;

}



.article img{

    width:200px;
    height:200px;
    object-fit:cover;
    float:left;
    margin-right:20px;

}



.article h3{

    color:#b8962e;
    font-size:28px;

}




/* ===== FOOTER ===== */


footer{

    background-color:black;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:50px;

}
